# Ignore local Packer variable files
*.pkrvars.hcl

# Ignore Packer build artifacts
packer_cache/
output-*/
*.box

# Ignore Terraform (if used) state files and logs
*.tfstate
*.tfstate.*
tfplan
.terraform/
terraform.log

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore system files
.DS_Store
Thumbs.db

# Ignore SSH keys and configuration files
*.pem
*.key
config

# Ignore sensitive files
credentials
secret.tfvars

# Ignore any other files specific to your environment or workflow
